<script>
  document.querySelector("#experience")?.addEventListener("click", () => {
    document.querySelector("#tab1")?.classList.add("active");
    document.querySelector("#tab2")?.classList.remove("active");
    document.querySelector("#tab3")?.classList.remove("active");
  });

  document.querySelector("#education")?.addEventListener("click", () => {
    document.querySelector("#tab2")?.classList.add("active");
    document.querySelector("#tab1")?.classList.remove("active");
    document.querySelector("#tab3")?.classList.remove("active");
  });

  document.querySelector("#skills")?.addEventListener("click", () => {
    document.querySelector("#tab2")?.classList.remove("active");
    document.querySelector("#tab1")?.classList.remove("active");
    document.querySelector("#tab3")?.classList.add("active");
  });
</script>

<section id="about">
  <div class="container">
    <div class="roww">
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">Über mich</h3>
        <h3 class="title">Biography</h3>
        <p class="desc">
          {
            `"Herzlich Willkommen! Als hochspezialisierter Webentwickler mit über 5 Jahren Erfahrung bringe ich umfassendes Know-how und Vertrautheit mit den neuesten Technologien mit. Meine Spezialisierung liegt in der Entwicklung komplexer, interaktiver und dynamischer Anwendungen. Durch mein Fachwissen und meine langjährige Erfahrung bin ich in der Lage, anspruchsvolle Projekte zu meistern und erstklassige, innovative Lösungen bereitzustellen, die den Anforderungen meiner Kunden gerecht werden. Ich freue mich darauf, meine Expertise in Ihr zukünftiges Projekt einzubringen und eine Anwendung zu entwickeln, die Ihre Erwartungen nicht nur erfüllt, sondern übertrifft.Willkommen! Mit mehr als 5 Jahren Erfahrung bin ich ein hochspezialisierter und erfahrener Webentwickler, der mit den neuesten Technologien vertraut ist. Ich habe mich auf die Erstellung komplexer und interaktiver dynamischer Anwendungen spezializert. Mein Fachwissen und meine Erfahrung ermöglichen es mir anspruchsvolle Projekte zu übernehmen und qualitativ hochwertige und innovative Lösungen zu liefern, die die Bedürfnisse meiner Kunden erfüllen. Ich freue mich darauf, meine Fähigkeiten in Ihr nächstes Projekt einzubringen und eine Anwendung zu erstellen, die Ihre Erwartungen übertrifft"`
          }
        </p>
      </div>

      <div class="resumo_fn_about_info">
        <div class="about_left">
          <table>
            <tbody>
              <tr>
                <th>Name</th>
                <th>Jannik Wienecke</th>
              </tr>
              <tr>
                <th>Geburtstag</th>
                <th>11.07.1992</th>
              </tr>
              <tr>
                <th>Alter</th>
                <th>30 years</th>
              </tr>
              <tr>
                <th>Adresse</th>
                <th>Hamburg</th>
              </tr>
              <tr>
                <th>Telfon & Whatsapp</th>
                <th>
                  <a aria-label="Phone" href="tel:+491713290547">01713290547</a>
                </th>
              </tr>
              <tr>
                <th>Email</th>
                <th>
                  <a aria-label="Email" href="mailto:wienecke.jannik@gmail.com">
                    wienecke.jannik@gmail.com
                  </a>
                </th>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="about_right"></div>
      </div>

      <div class="resumo_fn_tabs">
        {/* Tab: Header */}
        <div class="tab_header">
          <ul>
            <li class={"tab1"}>
              <a aria-label="Experience" id="experience" href="#/">
                Erfahrungen</a
              >
            </li>
            <li id="education" class={"tab2"}>
              <a aria-label="Education" href="#/">Bildung</a>
            </li>
            <li id="skills" class={"tab3"}>
              <a aria-label="Skills" href="#/">Fähigkeiten</a>
            </li>
          </ul>
        </div>

        <div class="tab_content">
          <div id="tab1" class={`tab_item active`}>
            {/* Boxed List */}
            <div class="resumo_fn_boxed_list">
              <ul>
                <li>
                  <div class="item">
                    <div class="item_top">
                      <h5>Sirum Gmbh</h5>
                      <span>( 2023 — Today )</span>
                    </div>
                    <h3>Product Owner Mobile App</h3>
                    <p>
                      Product Owner für mobile Anwendungen, verantwortlich für
                      Architektur, Definition der Produktvision, Priorisierung
                      der Funktionen und Verwaltung des Backlogs zur
                      Bereitstellung erfolgreichen Apps.
                    </p>
                  </div>
                </li>

                <li>
                  <div class="item">
                    <div class="item_top">
                      <h5>youCould GmbH</h5>
                      <span>( 2022 - Today)</span>
                    </div>
                    <h3>Senior Front-End Entwickler React Native</h3>
                    <p>
                      Als Senior Front-End-Entwickler mit umfassender Erfahrung
                      in React Native habe ich starke Fähigkeiten in den
                      Bereichen Programmierung, Code-Review und Architektur
                      entwickelt. Ich habe meine Erfahrungen in einem
                      schnelllebigen Startup-Umfeld gesammelt, wo ich
                      Innovationen vorantreiben und erfolgreiche mobile Apps
                      entwickeln konnte.
                    </p>
                  </div>
                </li>

                <li>
                  <div class="item">
                    <div class="item_top">
                      <h5>Sirum Gmbh</h5>
                      <span>( 2022 — 2023 )</span>
                    </div>
                    <h3>Senior Front-End Entwickler React</h3>
                    <p>
                      Als Front-End-Entwickler mit Erfahrung
                      (React/Ionic/Typescript) habe ich meine Fähigkeiten in der
                      Entwicklung benutzerfreundlicher Schnittstellen für
                      Logistik- und Transportanwendungen verfeinert. Meine
                      Erfahrung in einem Startup-Umfeld hat es mir ermöglicht,
                      Teil eines dynamischen Teams zu sein, in dem ich
                      qualitativ hochwertige und innovative Lösungen liefern
                      konnte, die den Bedürfnissen unserer Kunden entsprechen.
                      Ich begeistere mich für Technologie und bin immer
                      bestrebt, neue Fähigkeiten zu erlernen und mit den
                      neuesten Trends und Best Practices in der
                      Front-End-Entwicklung Schritt zu halten.
                    </p>
                  </div>
                </li>

                <li>
                  <div class="item">
                    <div class="item_top">
                      <h5>Spedition Hamann Gmbh & Co. Kg</h5>
                      <span>( 2016 — 2011 )</span>
                    </div>
                    <h3>Fullstack Entwickler React / Python</h3>
                    <p>
                      Als Fullstack-Entwickler mit Erfahrung in Python und React
                      habe ich starke Fähigkeiten sowohl im Front-End- als auch
                      im Back-End entwickelt. Meine Erfahrung in der Entwicklung
                      von Logistik- und Transportanwendungen hat es mir
                      ermöglicht, die spezifischen Bedürfnisse der Branche zu
                      verstehen und hochwertige und innovative Lösungen zu
                      liefern, die den Anforderungen unserer Kunden entsprechen.
                      Ich war Teil eines Familienunternehmens, in dem ich in der
                      Lage war, die Abläufe zu digitalisieren und die Prozesse
                      zu automatisieren, wodurch sie ihre Effizienz und
                      Produktivität steigern konnten.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div id="tab2" class={`tab_item`}>
            {/* Boxed List */}
            <div class="resumo_fn_boxed_list">
              <ul>
                <li>
                  <div class="item">
                    <div class="item_top">
                      <h5>Bamberg University</h5>
                      <span>( 2016 — 2018 )</span>
                    </div>
                    <h3>Master Degree Wirtschaftsinformatik</h3>
                    <p>
                      Master-Abschluss in Informationstechnologie (IT) mit
                      fundierten Kenntnissen der neuesten Technologien und
                      Techniken, die in der IT-Branche verwendet werden.
                      Kenntnisse in den Bereichen Programmierung, Datenanalyse,
                      Softwareentwicklung und Projektmanagement.
                    </p>
                  </div>
                </li>

                <li>
                  <div class="item">
                    <div class="item_top">
                      <h5>National University San Diego</h5>
                      <span>( 2014 — 2014 )</span>
                    </div>
                    <h3>Bachelor Degree Business Administration</h3>
                    <p>Auslandssemester an der University of San Diego State</p>
                  </div>
                </li>

                <li>
                  <div class="item">
                    <div class="item_top">
                      <h5>Fachhochschule Hof</h5>
                      <span>( 2012 — 2016 )</span>
                    </div>
                    <h3>Bachelor Degree Wirtschaftsingenieurswesen</h3>
                    <p>
                      Bachelor-Abschluss in Wirtschaftsingenieurwesen mit
                      Kenntnissen in Prozessverbesserung, Kostenanalyse und
                      Optimierung Techniken
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div id="tab3" class={`tab_item`}>
            {/* Progress Bar */}
            <div class="resumo_fn_progress_bar">
              <div class="progress_item open" data-value={95}>
                <div class="item_in">
                  <h3 class="progress_title">React</h3>
                  <span class="progress_percent" style={{ right: "5%" }}>
                    95%
                  </span>
                  <div class="bg_wrap">
                    <div class="progress_bg" style={{ width: "95%" }}></div>
                  </div>
                </div>
              </div>
              <div class="progress_item open" data-value={90}>
                <div class="item_in">
                  <h3 class="progress_title">Typescript</h3>
                  <span class="progress_percent" style={{ right: "10%" }}>
                    95%
                  </span>
                  <div class="bg_wrap">
                    <div class="progress_bg" style={{ width: "90%" }}></div>
                  </div>
                </div>
              </div>

              <div class="progress_item open" data-value={90}>
                <div class="item_in">
                  <h3 class="progress_title">Remix</h3>
                  <span class="progress_percent" style={{ right: "20%" }}>
                    80%
                  </span>
                  <div class="bg_wrap">
                    <div class="progress_bg" style={{ width: "80%" }}></div>
                  </div>
                </div>
              </div>

              <div class="progress_item open" data-value={90}>
                <div class="item_in">
                  <h3 class="progress_title">Html & CSS</h3>
                  <span class="progress_percent" style={{ right: "20%" }}>
                    80%
                  </span>
                  <div class="bg_wrap">
                    <div class="progress_bg" style={{ width: "80%" }}></div>
                  </div>
                </div>
              </div>
              <div class="progress_item open" data-value={85}>
                <div class="item_in">
                  <h3 class="progress_title">Flutter</h3>
                  <span class="progress_percent" style={{ right: "15%" }}>
                    85%
                  </span>
                  <div class="bg_wrap">
                    <div class="progress_bg" style={{ width: "85%" }}></div>
                  </div>
                </div>
              </div>

              <div class="progress_item open" data-value={80}>
                <div class="item_in">
                  <h3 class="progress_title">Python</h3>
                  <span class="progress_percent" style={{ right: "20%" }}>
                    80%
                  </span>
                  <div class="bg_wrap">
                    <div class="progress_bg" style={{ width: "80%" }}></div>
                  </div>
                </div>
              </div>
            </div>

            {/* /Progress Bar */}
            {/* Description */}
            <div class="resumo_fn_desc">
              <p>
                Freiberuflicher Webentwickler mit Sitz Hamburg, spezialisiert
                auf dynamische und interaktive Anwendungen. Ich habe eine
                Leidenschaft für die Erstellung optisch ansprechender und
                benutzerfreundlicher Websites. Mit Erfahrung in
                Frontend-Entwicklungstechnologien wie React, Typescript oder
                Flutter sowie Backend-Entwicklung mit Sprachen wie Pyhton bin
                ich in der Lage, Webanwendungen zu erstellen, die für alle
                Geräte optimiert sind und ein außergewöhnliches Erlebnis für die
                Nutzer bieten.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
