<Fragment>
  <div
    class="frenify-cursor cursor-outer"
    data-default="yes"
    data-link="yes"
    data-slider="yes"
  >
    <span class="fn-cursor"></span>
  </div>
  <div
    class="frenify-cursor cursor-inner"
    data-default="yes"
    data-link="yes"
    data-slider="yes"
  >
    <span class="fn-cursor">
      <span class="fn-left"></span>
      <span class="fn-right"></span>
    </span>
  </div>
</Fragment>
