<section id="contact">
  <div class="container">
    <div class="roww resumo_fn_contact">
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">Kontakt</h3>
        <h3 class="title">Kontakt aufnehmen</h3>
        <p class="desc">
          Wenn Sie einen Vorschlag oder ein Projekt haben oder einfach nur
          "Hallo" sagen wollen, schreiben Sie mir eine kurze Mail und ich werde
          mich so schnell wie möglich bei Ihnen melden. Gerne erreichen Sie mich
          auch telefonisch oder über WhatsApp.
        </p>
      </div>
      {/* /Main Title */}
      {/* Contact Form */}
    </div>
    <div class="resumo_fn_contact_info">
      <p>Address</p>
      <h3>22307 Hamburg, Deutschaland</h3>
      <p>Phone & WhatsApp</p>
      <h3>
        <a aria-label="Phone" href="tel:+491713290547">+49 171320547</a>
      </h3>
      <p>Email</p>
      <p>
        <a
          aria-label="Email"
          class="fn__link"
          href="mailto:trendycoder.com@gmail.com"
        >
          wienecke.jannik@gmail.com
        </a>
      </p>
    </div>
  </div>
</section>

<style>
  label {
    margin: 0rem 0.5rem !important;
    font-size: 0.8rem;
  }

  .email-input {
    margin-top: 0.3rem;
  }

  input::placeholder {
    font-size: 0.8rem;
    color: #999;
    opacity: 0.5;
  }
</style>
