<section id="matching">
  <div class="container">
    <div class="roww pt-32">
      {/* Main Title */}
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">Matching</h3>
        <h3 class="title">Wann wir zueinander passen</h3>
        <p class="desc small">
          ✅ Sie benötigen eine komplett neue Webanwendung oder Mobile
          Applkation
        </p>
        <p class="desc small">
          ✅ Sie Suchen einen Webentwickler aus Hamburg der Sie bei der
          Umsetzung Ihrer Idee unterstützt
        </p>

        <!-- <p class="desc small">
          ✅ Sie legen Wert darauf das ihre Anwendung professionell und nach den
        </p> -->

        <p class="desc small">
          ✅ Sie legen Wert auf eine schnelle und zuverlässige Umsetzung mit
          modernsten Technologien
        </p>

        <p class="desc small">✅ Sie möchten Indiviuell beraten werden</p>

        <p class="desc small">
          ✅ Sie möchten eine langfristige Zusammenarbeit mit einem
          Webentwickler aus Hamburg
        </p>

        <p class="desc small">
          ✅ Sie möchten keine Agentur beauftragen sondern einen Freelancer bei
          dem Sie einen direkten Ansprechpartner haben und sich die Overhead
          Kosten für Verwaltungsabläufe sparen
        </p>
      </div>
    </div>
    {/* /Main Title */}
  </div>
</section>

<style>
  .signature-container {
    width: 70%;
  }

  @media (max-width: 768px) {
    .signature-container {
      width: 100%;
    }
  }

  p.small {
    font-size: 26px !important;
  }
</style>
