<section id="news">
  <div class="container">
    <div class="roww">
      {/* Main Title */}
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">News &amp; Tips</h3>
        <h3 class="title">Blog</h3>
      </div>
      {/* /Main Title */}

      {/* Blog List */}
      <div class="resumo_fn_blog_list">
        <ul class="modal_items" data-from="blog" data-count={5}>
          <li>
            <a
              href="/blog/secret-of-success"
              class="item modal_item"
              data-index={0}
            >
              <img
                loading="lazy"
                style="height: 200px!important; width: 100%!important;"
                src="images/blog/1.jpeg"
                alt="image"
              />
              <div class="title_holder">
                <p>März, 2023</p>
                <h3>
                  <a href="/blog/secret-of-success">
                    Unveiling the Secret to Success: How Purpose and Habit Work
                    Hand in Hand
                  </a>
                </h3>
              </div>
            </a>
          </li>

          <li>
            <a
              href="/blog/object-stereotypes"
              class="item modal_item"
              data-index={1}
            >
              <img
                loading="lazy"
                style="height: 200px!important; width: 100%!important;"
                src="images/blog/2.jpg"
                alt="image"
              />
              <div class="title_holder">
                <p>September 22, 2021</p>
                <h3>
                  <a href="/blog/object-stereotypes">
                    Mastering Software Design with Object Stereotypes
                  </a>
                </h3>
              </div>
            </a>
          </li>

          <li>
            <a
              href="/blog/typescript-generics-basics"
              class="item modal_item"
              data-index={2}
            >
              <img
                loading="lazy"
                style="height: 200px!important; width: 100%!important;"
                src="images/blog/3.jpeg"
                alt="image"
              />
              <div class="title_holder">
                <p>August 01, 2022</p>
                <h3>
                  <a href="/blog/typescript-generics-basics">
                    The Power of Generics in TypeScript
                  </a>
                </h3>
              </div>
            </a>
          </li>

          <li>
            <a href="/blog/SOLID" class="item modal_item" data-index={3}>
              <img
                loading="lazy"
                style="height: 200px!important; width: 100%!important;"
                src="images/blog/4.jpg"
                alt="image"
              />
              <div class="title_holder">
                <p>September 22, 2021</p>
                <h3>
                  <a href="/blog/SOLID">
                    Learn about the SOLID principles of object-oriented design
                  </a>
                </h3>
              </div>
            </a>
          </li>

          <li class="hidden">
            <a
              href="/blog/use-effect-use-layout"
              class="item modal_item"
              data-index={4}
            >
              <img
                loading="lazy"
                width="100%"
                height="200px!important"
                style="height: 200px!important;"
                src="images/blog/5.jpeg"
                alt="image"
              />
              <div class="title_holder">
                <p>September 22, 2022</p>
                <h3>
                  <a href="/blog/use-effect-use-layout">
                    Taking a look at the differences between useEffect and
                    useLayoutEffect. When should you use one over the other?
                  </a>
                </h3>
              </div>
            </a>
          </li>

          <li class="hidden">
            <a
              class="item modal_item"
              href="/blog/epic-react-fundamentalsa"
              data-index={5}
            >
              <img
                loading="lazy"
                style="height: 200px!important; width: 100%!important;"
                src="images/blog/6.png"
                alt="image"
                width="50%"
                height="300px"
              />
              <div class="title_holder">
                <p>September 22, 2021</p>
                <h3>
                  <a href="/blog/epic-react-fundamentals">
                    Fundamentals EpicReact.dev Course by Kent C. Dodds
                  </a>
                </h3>
              </div>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
        <div class="load_more">
          <a
            id="loadMore"
            href="#/"
            data-done="Done"
            data-no="No more articles found"
          >
            <span class="text"> Mehr laden</span>
            <span class="fn__pulse">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // on click loadMore
  document.getElementById("loadMore")?.addEventListener("click", function (e) {
    e.preventDefault();

    document.getElementById("loadMore")?.classList.add("loading");

    window.setTimeout(() => {
      // remove loading
      document.getElementById("loadMore")?.classList.remove("loading");

      // get span with class 'text' and set text content to "No more articles found"
      const text = document.getElementById("loadMore")?.querySelector(".text");
      if (text) text.textContent = "No more articles found";

      // get all hidden li and remove class hidden
      const hidden = document.querySelectorAll(".hidden");
      hidden.forEach((item) => {
        item.classList.remove("hidden");
      });
    }, 1200);
  });

  // on click li inside modal_items
</script>

<style>
  .hidden {
    display: none;
  }
</style>
