<section id="not-matching">
  <div class="container">
    <div class="roww pt-32">
      {/* Main Title */}
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">Not Matching</h3>
        <h3 class="title">Wann wir nicht zueinander passen</h3>
        <p class="desc small">
          ❌ Sie wollen eine rein statische Website erstellen
        </p>

        <p class="desc small">
          ❌ Sie suchen jemanden, der für Sie eine Wordpress Seite erstellt
        </p>

        <p class="desc small">
          ❌ Sie möchten eine möglichst günstige Anwendung haben
        </p>

        <p class="desc small">
          ❌ Sie suchen eine Agentur, die Ihnen eine fertige Lösung anbietet
        </p>

        <p class="desc small">
          ❌ Sie haben keine Lust gemeinsam mit mir an Ihrem Projekt zu arbeiten
        </p>
      </div>
    </div>
    {/* /Main Title */}
  </div>
</section>

<style>
  .signature-container {
    width: 70%;
  }

  @media (max-width: 768px) {
    .signature-container {
      width: 100%;
    }
  }

  p.small {
    font-size: 26px !important;
  }
</style>
