<section id="service">
  <div class="container pt-24">
    <div class="roww pt-24">
      {/* Main Title */}
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">Service</h3>
        <h3 class="title">Dienstleistungen / Produkte</h3>
        <p class="desc small">
          ✔️ Entwicklung von Webanwendungen und Mobile Apps von der Idee bis zur
          Veröffentlichung
        </p>

        <p class="desc small">
          ✔️ Unterstützung bei der Entwicklung von Webanwendungen und Mobile
          Apps für bereits bestehende Projekte
        </p>

        <p class="desc small">
          ✔️ Beratung und Unterstützung bei der Auswahl der richtigen Tools und
          Technologien für Ihr Projekt
        </p>

        <p class="desc small">
          ✔️ Kurzfristige Unterstützung bei ihrer Entwicklung
        </p>

        <p class="desc small">
          ✔️ Support bei Problemen mit Ihrer Webanwendung oder Mobile App
        </p>
      </div>
    </div>
    {/* /Main Title */}
  </div>
</section>

<style>
  p.small {
    font-size: 26px !important;
  }
  @media (max-width: 768px) {
    p.small {
      font-size: 20px !important;
    }
  }
</style>
