<section id="service">
  <div class="container pt-24">
    <div class="roww pt-24">
      {/* Main Title */}
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">Services</h3>
        <h3 class="title">Dienstleistungen / Produkte</h3>
        <p class="desc">
          ✔️ Entwicklung von Webanwendungen und Mobile Apps von der Idee bis zur
          Veröffentlichung
        </p>

        <p class="desc">
          ✔️ Unterstützung bei der Entwicklung von Webanwendungen und Mobile
          Apps für bereits bestehende Projekte
        </p>

        <p class="desc">
          ✔️ Beratung und Unterstützung bei der Auswahl der richtigen Tools und
          Technologien für Ihr Projekt
        </p>

        <p class="desc">✔️ Kurzfristige Unterstützung bei ihrer Entwicklung</p>

        <p class="desc">
          ✔️ Support bei Problemen mit Ihrer Webanwendung oder Mobile App
        </p>
      </div>
    </div>
    {/* /Main Title */}
  </div>
</section>
