<section id="home">
  <div class="container">
    <div class="roww">
      {/* Main Title */}
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">Introduction</h3>
        <h3 class="title">Frontend Developer</h3>
        <p class="desc">
          Ich erstelle professionelle Web und Mobile Anwendungen, 체berwiegend
          f체r Selbstst채ndige & Unternehmen in Hamburg. Mein Fokus liegt auf
          Funktionalit채t, Benutzerfreundlichkeit und Design.
        </p>

        <div class="signature-container" style="width=100%">
          <img
            height="100%"
            width="100%"
            src="images/signature.png"
            alt="image"
          />
        </div>
      </div>
    </div>
    {/* /Main Title */}
  </div>
</section>

<style>
  .signature-container {
    width: 70%;
  }

  @media (max-width: 768px) {
    .signature-container {
      width: 100%;
    }
  }
</style>
