<section id="home">
  <div class="container">
    <div class="roww">
      {/* Main Title */}
      <div class="resumo_fn_main_title">
        <h3 class="subtitle">Introduction</h3>
        <h3 class="title">UI/UX Designer</h3>
        <p class="desc">
          I design and develop services for customers of all sizes, specializing
          in creating stylish, modern websites, web services and online stores.
        </p>
        <div class="signature-container" style="width=100%">
          <img
            height="100%"
            width="100%"
            src="images/signature.png"
            alt="image"
          />
        </div>
      </div>
    </div>
    {/* /Main Title */}
  </div>
</section>

<style>
  /* up to 768px */

  .signature-container {
    width: 70%;
  }

  @media (max-width: 768px) {
    .signature-container {
      width: 100%;
    }
  }
</style>
