---
import "../styles/theme.css";
import "../styles/global-index.css";

import GoogleFont from "./GoogleFont.astro";
import FontAwesome from "./FontAwesome.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Header from "../components/Header.astro";
import Footer from "../components/_Footer.astro";
import MenuButton from "src/components/_MenuButton.astro";
import Cursor from "src/components/_Cursor.astro";
import Nav from "src/components/_Nav.astro";
import DarkModeToggle from "src/components/DarkModeToggle.astro";
---

<script>
  import * as module from "./type.js";

  export const aTagClick = () => {
    const aTag = document.querySelectorAll("[href='#']");
    for (let i = 0; i < aTag.length; i++) {
      const a = aTag[i];
      a.addEventListener("click", (e) => {
        e.preventDefault();
      });
    }
  };
  // Data image
  export const dataImage = () => {
    let d = document.querySelectorAll("[data-bg-img")!;
    for (let i = 0; i < d.length; i++) {
      const element = d[i]! as any;
      element.style.backgroundImage = `url(${element.getAttribute(
        "data-bg-img"
      )})`;
    }
  };

  export const customCursor = () => {
    const myCursor = document.querySelectorAll(".frenify-cursor"),
      hamburger = document.querySelector(".hamburger"),
      kura_tm_topbar = document.querySelector(".kura_tm_topbar "),
      pointer = document.querySelector(".cursor-pointer"),
      e = document.querySelector(".cursor-inner")! as any;

    const t = document.querySelector(".cursor-outer")! as any;

    function mouseEvent(element: any) {
      element.addEventListener("mouseenter", function () {
        e.classList.add("cursor-hover"), t.classList.add("cursor-hover");
      });
      element.addEventListener("mouseleave", function () {
        e.classList.remove("cursor-hover"), t.classList.remove("cursor-hover");
      });
    }
    if (myCursor.length) {
      if (document.body) {
        let n,
          i = 0,
          o = !1;
        (window.onmousemove = function (s) {
          o ||
            (t.style.transform =
              "translate(" + s.clientX + "px, " + s.clientY + "px)"),
            (e.style.transform =
              "translate(" + s.clientX + "px, " + s.clientY + "px)"),
            (n = s.clientY),
            (i = s.clientX);
        }),
          document.body.addEventListener(
            "mouseenter",
            // "a,.kura_tm_topbar .trigger, .cursor-pointer",
            function () {
              let a = document.querySelectorAll("a"),
                sliders = document.querySelectorAll(
                  ".owl-carousel, .swiper-container, .cursor-link"
                ),
                slider = document.querySelectorAll(".modal_item");
              e.classList.add("cursor-inner"), t.classList.add("cursor-outer");

              for (let i = 0; i < a.length; i++) {
                const element = a[i];
                mouseEvent(element);
              }

              for (let i = 0; i < sliders.length; i++) {
                const element = sliders[i];
                element.addEventListener("mouseenter", function () {
                  e.classList.add("cursor-slider"),
                    t.classList.add("cursor-slider");
                });
                element.addEventListener("mouseleave", function () {
                  e.classList.remove("cursor-slider"),
                    t.classList.remove("cursor-slider");
                });
              }
              for (let i = 0; i < slider.length; i++) {
                const element = slider[i];
                mouseEvent(element);
              }

              hamburger && mouseEvent(hamburger);
              kura_tm_topbar && mouseEvent(kura_tm_topbar);
              pointer && mouseEvent(pointer);
            }
          ),
          (e.style.visibility = "visible"),
          (t.style.visibility = "visible");
      }
    }
  };

  export const sticky = () => {
    let offset = window.scrollY;
    const stickys = document.querySelectorAll("body");
    stickys.forEach((sticky) => {
      if (sticky) {
        if (offset > 100) {
          sticky.classList.add("scrolled");
        } else {
          sticky.classList.remove("scrolled");
        }
      }
    });
  };

  dataImage();
  customCursor();
  aTagClick();

  window.addEventListener("scroll", sticky);
</script>

<html class="theme-bubblegum" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <slot name="meta" />
    <GoogleFont />
    <ThemeScript />
    <FontAwesome />
  </head>

  <body class="dark">
    <!-- <Header /> -->
    <div id="main">
      <div class="pt-4">
        <DarkModeToggle />
      </div>

      <div class="resumo_fn_wrapper">
        {/* MODALBOX */}
        {/* <Modalbox /> */}
        {/* /MODALBOX */}
        <div class="resumo_fn_content">
          {/* Main Left Part */}
          <div class="resumo_fn_left">
            {/* Page */}
            <div class="resumo_fn_page">
              <slot name="main" />
            </div>
            <Footer />
          </div>
          {/* /Main Left Part */}
          {/* Main Right Part */}
          <div class="resumo_fn_right">
            <MenuButton />

            <div class="right_in">
              <div class="right_top">
                <div class="border1"></div>
                <div class="border2"></div>
                <div class="img_holder">
                  <img
                    width="100%"
                    height="100%"
                    src="images/me.jpg"
                    alt="image"
                  />
                </div>
                <div class="title_holder">
                  <h5>Jannik Wienecke</h5>
                  <p class="h3 h-12">
                    <span class="animated_title animated_text"> </span>
                  </p>
                </div>
              </div>

              <div class="right_bottom">
                <a href="#contact">
                  <span class="circle"></span>
                  <span class="text">
                    <!-- I’m available for a freelance job. Hire me -->
                    Ich bin für freiberufliche Projekte verfügbar
                  </span>
                </a>
              </div>
            </div>

            {/* Menu Triggger */}
            <!-- <Triggger open={() => triggerMenu()} /> -->
            {/* /Menu Triggger */}
            {/* Panel Content */}
            <!-- <PanelContent /> -->
            {/* /Panel Content */}
          </div>
          {/* /Main Right Part */}
        </div>
        {/* Right Hidden Navigation */}
        <Nav />
        {/* /Right Hidden Navigation */}
        <Cursor />
      </div>
      {/* /Wrapper All */}
      {/* Scripts */}
      {/*[if lt IE 10]>  <![endif]*/}
      {/* /Scripts */}
    </div>
    <style>
      body.dark .animated_text {
        color: #d4d4d4;
      }

      body.light .animated_text {
        color: #000;
      }
    </style>
  </body>
</html>
